<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Наша жизнь не всегда такая приятная как может показаться</h1>
        <p>Улучши свою жизнь вместе с victis</p>
        <a href="{{ url_for('home') }}" class="btn">Начать</a>
    </div>
</body>
</html>